@import "../../variables";

h1 {
  text-align: center;
  color: $primary1
}
h2 {
  text-align: center;
  color: $primary1;
  font-size:20px;
}
span {
  color: $primary1
}

.othercolor {
  color: $primary2
}
