$primary1: #aaee55;
$primary2: orangered;


$pseudoWhite: #FAFAFF;

$textPrimary: #009B00;
$textPrimary2: darkred;


$lighter1: #ccffaa;
$lighter2: pink;


$emptyZone: 50px;
$borderWidth: 5px;

.plump {

  border-top: none;
  border-left: none;
  border-bottom: solid 2px;
  border-right: solid 2px;

}


.hollow {
  border-top: solid 2px $lighter2;
  border-left: solid 2px $lighter2;
  border-bottom: none $lighter1;
  border-right: none $lighter1;

}

.bordered {
  border: solid $borderWidth;
  border-radius: $emptyZone;
  padding: $emptyZone;

  border-bottom-color: $lighter1;
  border-right-color: $lighter1;
  border-top-color: $lighter2;
  border-left-color: $lighter2;

}
