@import "../../../variables";
span {
  border-color: $primary2;
  background: white;
  display: inline-block;
}
:host {
  padding: 5px;
  display: inline-block;


}

.key {
  border-radius: 10px;
  padding: 10px 15px;
  border-color: darkgreen;
}
